body{
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar{
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.navbar{
	background: #212121;
	margin: 0;
	padding: 10px 35px;
}
.poto{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
}
.logo{
	font-size: 14pt;
	font-weight: bold;
	text-decoration: none;
	color: white;
}
.menu{
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0;			
}
.menu li{
	padding-left: 0;
	margin-right: 10px;
}
 
.menu li a{
	padding:10px;
	color: white;
	text-decoration: none;
	display: inline-block;
}
.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #333;
    font-weight: bold;
}